'''
Fichier de configuration générale de l'application
'''

SQLALCHEMY_DATABASE_URI = 'sqlite:///test.db'

# token administrateur pour débogage
# permet d'accéder aux méthodes de l'API protégées par jeton d'identification
ADMIN_DEBUG_TOKEN = 'superSecret'

SEND_MAIL = False

MAIL_SERVER = 'localhost'
MAIL_PORT = 25
MAIL_USERNAME = 'foo@example.com'
MAIL_PASSWORD = 'secret'

MAIL_SENDER = 'recrutement<foo@example.com>'

# liste des destinataires à prévenir lorsqu'une modification est effectuée
MAIL_DESTS = [
    'bar@example.com',
    'baz@example.com'
]

UPLOAD_DIR = 'static/upload'

LDAP_PREFIX = 'MyCompany\\%s'
LDAP_USER = 'LdapAdmin'
LDAP_PASS = 'SecretPasswd!!'
LDAP_BASE_PATH = 'ou=users,dc=mycompany,dc=com'
