'''
Fichier de configuration générale de l'application
'''

# chaine de connexion à la base de données
SQLALCHEMY_DATABASE_URI = 'sqlite:///test.db'
SQLALCHEMY_TRACK_MODIFICATIONS = False

# token administrateur pour débogage
# permet d'accéder aux méthodes de l'API protégées par jeton d'identification
# type : str
ADMIN_DEBUG_TOKEN = None  #'superSecret'

# mails de notification
SEND_MAIL = False

# configuration email de notification
MAIL_SERVER = 'localhost'
MAIL_PORT = 25
MAIL_USERNAME = 'foo@example.com'
MAIL_PASSWORD = 'secret'
MAIL_SENDER = 'recrutement<foo@example.com>'

# active le thread du module de supervision
ENABLE_SUPERVISION = True
# délai entre deux scans de supervision (en minutes)
SUP_INTERVAL = 3

# dossier des fichiers uploadés
UPLOAD_DIR = 'static/upload'
# upload spécifique templates
TEMPLATES_DIR = 'templates'

# gestion des utilisateurs locale ou via un serveur LDAP
# AUTH_TYPE = 'local'
AUTH_TYPE = 'ldap'

# options LDAP

# chaine de connexion LDAP
LDAP_SERVER = 'myserver.mydomain'
LDAP_PREFIX = 'MyCompany\\%s'

# utilisateur pour acces LDAP service (envoi mails)
LDAP_USER = 'LdapAdmin'
LDAP_PASS = 'SecretPasswd!!'

# chaine de base de recherche
LDAP_BASE_PATH = 'ou=users,dc=mycompany,dc=com'
